* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

nav {
  font-family: 'Rowdies', cursive;
  background-color: white;
  height: 80px;
  width: 100%;
  position: fixed;
}
nav .logo{
  font-size: 50px;
  color: black;
  line-height: 80px;
  padding: 0 100px;
}
label.logo a{
  color: #ff45b1;
  text-decoration: none;
}
label.logo a:hover{
  color: #00e1ff;
  transition: all .3s;
}
nav ul{
  float: right;
  margin-right: 30px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  color: black;
  font-size: 17px;
  text-transform: uppercase;
}
.checkbtn{
  font-size: 30px;
  color: black;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
body{
  font-family: 'josefin-sans', sans-serif;
  background: white;
}
#banner{
  background-image: url('../imgs/banner background.jpg');
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 280px;
  padding-bottom: 200px;
}
#banner h1{
  font-family: 'josefin-sans', sans-serif;
  font-size: 70px;
  color: #00e1ff;
  text-transform: none;
  letter-spacing: -3px;
  font-weight: 100;
}
#banner h1 span{
  color: #ff45b1;
  font-weight: bold;
  text-shadow: 0 0 40px #700142;
}
#banner a{
  border: 2px solid;
  border-radius: 50px;
  color: white;
  padding: 30px;
  font-size: 20px;
  font-weight: 700;
  text-transform: capitalize;
}
#banner a:hover{
  background-color: #00e1ff;
  border-color: #00e1ff;
  color: #010429;
  transition: all .3s;
}
#banner .bannerbtn{
  padding-top: 100px;
}
#why{
  background-color: rgba(255, 230, 255, 0.3);
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
#why h1{
  color: rgb(48, 48, 48);
  font-size: 40px;
  text-transform: uppercase;
}
#why p{
  text-align: left;
  margin-left: 25%;
  margin-right: 25%;
  color: rgb(84, 84, 84);
  font-size: 20px;
}
#work{
  background-color: white;
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
#work h1{
  color: rgb(48, 48, 48);
  font-size: 40px;
  text-transform: uppercase;
}
#team{
  background-color: rgba(255, 230, 255, 0.3);
  text-align: center;
  padding-top: 100px;
  padding-bottom: 100px;
}
#team h1{
  color: rgb(48, 48, 48);
  font-size: 40px;
  text-transform: uppercase;
}
@media (max-width: 768px){
  label.logo{
    font-size: 40px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
  #why p{
    margin-left: 10%;
    margin-right: 10%;
  }
}
@media (max-width: 768px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: pink;
    top: 80px;
    left: 100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul{
    padding-right: 0px;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  #check:checked ~ ul{
      left: 0;
  }
}
@font-face {
    font-family: 'josefin_sansthin';
    src: url('josefinsans-variablefont_wght-webfont.woff2') format('woff2'),
         url('josefinsans-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
